
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
 

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
   
  /* shared style */
   .display-flex{
    display:flex;
   }
     .dark-1{
      color:rgba(19, 19, 19, 1);
     }
     .dark-2{
        color:rgba(66, 66, 66, 1);
     }

    .dark-3{
      color:rgba(114, 114, 114, 1);
    }
   
  /* header style */
   
  .bg-light{
    background-color:rgba(255, 144, 14, 0.1);
  }

  /* nav style */
  .navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
  }
  .nav-items{
    list-style:none;
    margin-right:30px;

  }
  .nav-link{
    text-decoration:none;
    font-weight:500;
    font-size:1.2rem;
  }

  .navbar,.banner{
    max-width:1440px;
    margin:0 auto;

  }
  .nav-header{
    font-weight:700px;
    font-size:2.8rem;
   }

   /* banner styles */
    
   .baner{
    max-width:860px;
    margin:0 auto;
    text-align:center;
   }

   .baner-title{
    font-size:4rem;
    font-weight:700;

   }
    .baner-description{
      font-size:1rem;
      font-weight:400;
    }
    /* .banner-image{
      width:1440px;
      height:700px;
    } */

    /* btn-primary */
     
    .btn-primary{
      width:180px;
      height:64px;
      background-color:rgba(255, 144, 14, 1);
      font-size:16px;
      color:rgba(255, 255, 255, 1);
      font-weight:600;
      padding:5px 5px;
      border-radius:8px;
    }
   
   
    
  

  

 



  /* main styles */

  /* footer style */

  