
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
 

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
   
  /* shared style */
   .display-flex{
    display:flex;
   }
     .dark-1{
      color:rgba(19, 19, 19, 1);
     }
     .dark-2{
        color:rgba(66, 66, 66, 1);
     }

    .dark-3{
      color:rgba(114, 114, 114, 1);
    }
   
  /* header style */
   
  .bg-light{
    background-color:rgba(255, 144, 14, 0.1);
  }

  /* nav style */
  .navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
  }
  .nav-items{
    list-style:none;
    margin-right:30px;

  }
  .nav-link{
    text-decoration:none;
    font-weight:500;
    font-size:1.2rem;
  }

  .navbar,.banner{
    max-width:1440px;
    margin:0 auto;

  }
  .nav-header{
    font-weight:700px;
    font-size:2.8rem;
   }

   /* banner styles */
    
   
    .baner-content{
      max-width:840px;
      margin:0 auto;
      text-align:center;
      margin-bottom:30px;
    }

   .baner-title{
    font-size:4rem;
    font-weight:700;

   }
    .baner-description{
      font-size:1rem;
      font-weight:400;
    }
     .imagestile{
          width:100%;
     }

    /* btn-primary style */
     
    .btn-primary{
      width:180px;
      height:64px;
      background-color:rgba(255, 144, 14, 1);
      font-size:16px;
      color:rgba(255, 255, 255, 1);
      font-weight:600;
      padding:5px 5px;
      border-radius:8px;
      margin-top:20px;
      border:none;
    }
   
    /* responsive header section contain navbar and banner */
      @media screen and (max-width:570px){
        .navbar,.nav-links{
          flex-direction:column;
        }
      }
      
     /* main section styles */

     .img-feature{
       max-width:1370px;
       margin:0 auto;
       display:flex;
       align-items:center;
       margin-top:30px;

       
     }
      .img-container{
        display:grid;
        grid-template-columns:repeat(2,1fr);
        gap:8px;
        margin-top:10px;
        margin-right:60px;
      }
     
      /* responsive main section */

      @media screen and (max-width:550px){
        .img-container{
           grid-template-columns:repeat(1,1fr);
          
        }
        .img-feature{
          flex-direction:column;
        }
        .features{
           display:flex;
           flex-direction:column;
           justify-content:center;
           align-items:center;
           
        }
      }

    
  

  

 



  /* main styles */

  /* footer style */

  